{% extends 'base.html' %}

{% block coordinador_list_inactivos %}

<div>

    <h1>Coordinadores Inactivos</h1>

    {% if coordinadores %}
        <div class="row g-4">
            <ul class="list-group m-3">
                {% for coordinador in coordinadores %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>
                        {{ coordinador.nombre }} {{ coordinador.apellido }} {{ coordinador.numero_documento }} {{ coordinador.fecha_alta }}
                    </span>

                    <div class="d-flex gap-2 flex-shrink-0">

                        <form method="post" action="{% url 'restaurar_coordinador' coordinador.pk %}">
                            {% csrf_token %}

                            <button type="submit" class="btn btn-success">
                                Restaurar
                            </button>
                        </form>

                    </div>

                </li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <p>
            No hay coordinadores inactivos.
        </p>
    {% endif %}

    <a href="{% url 'lista_coordinadores' %}" class="btn btn-secondary ms-2">
        Cancelar
    </a>
</div>

{% endblock coordinador_list_inactivos %}