{% extends 'index.html' %}

{% block servicio_detalle %}
<div class="col-12 col-lg-7">
                    <div class="card">
                      <div class="card-header">
                        <h3 class="card-title">Información del servicio</h3>
                      </div>
                      <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                          <div class="space-y">
                              <div>
                                <label class="form-label"> Nombre del servicio </label>
                                  {{ form.nombre }}
                              </div>
                              <div>
                                <label class="form-label"> Descripcion </label>
                                  {{ form.descripcion }}
                              </div>
                            <div>
                              <label class="form-label"> Precio </label>
                                {{ form.precio }}
                            </div>
                            <div class="text-end">
                              {% if servicio.activo %}
                                  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmarEliminarModal" data-id="{{ servicio.pk }}"
            data-nombre="{{ servicio.nombre }}" data-url="{% url 'eliminar_servicio' servicio.pk %}">Eliminar</button>
                                  {% else %}
                                  <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#confirmarRestaurarModal" data-id="{{ servicio.pk }}"
            data-nombre="{{ servicio.nombre }}" data-url="{% url 'restaurar_servicio' servicio.pk %}">Restaurar</button>
                                  {% endif %}
                              <a href="{% if servicio.activo %}{% url 'listar_servicios' %}{% else %}{% url 'listar_servicios_inactivos' %}{% endif %}" class="btn btn-1"> Cancelar </a>
                              <button type="submit" class="btn btn-primary btn-2"> Guardar cambios </button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
{% include 'componentes/confirmar_eliminacion.html'%}
{% include 'componentes/confirmar_restauracion.html'%}
{% endblock servicio_detalle %}