{% extends 'index.html' %}
{% block reserva_listado %}
<div class="col-12">
                <div class="card" >
                  <div class="card-body border-bottom py-3">
                    <div class="d-flex">
                      <div class=" text-secondary">
                        Buscar:
                        <div class="ms-2 d-inline-block">
                          <input type="text" class="form-control form-control-sm" aria-label="Buscar reserva" placeholder="nombre del cliente o servicio">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="table-responsive" style="min-height: 200px">
                    <table class="table table-selectable card-table table-vcenter text-nowrap datatable">
                      <thead>
                        <tr>
                          <th class="w-1">No.</th>
                          <th>Fecha programada</th>
                          <th>Cliente</th>
                          <th>Servicio</th>
                          <th>Estado</th>
                          <th>Empleado</th>
                          <th>Coordinador</th>
                          <th>Precio</th>
                            <th>Fecha de creacion</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for reserva in reservas %}
                        <tr>
                          <td><span class="text-secondary">{{ reserva.pk }}</span></td>
                          <td>{{ reserva.fecha_servicio }}</td>
                          <td><span class="flag flag-xs flag-country-us me-2"></span>{{ reserva.cliente.nombre }} {{ reserva.cliente.apellido }}</td>
                          <td>{{ reserva.servicio.nombre }}</td>
                          {% if reserva.fecha_servicio < now %}
                            <td><span class="badge bg-success me-1"></span> Finalizado </td>
                            {% else %}
                            <td><span class="badge bg-warning me-1"></span> Pendiente </td>
                            {% endif %}
                          <td>{{ reserva.empleado.nombre }} {{ reserva.empleado.apellido }}</td>
                          <td>{{ reserva.coordinador.nombre }} {{reserva.coordinador.apellido }}</td>
                          <td>$ {{ reserva.servicio.precio }}</td>
                          <td>{{ reserva.fecha_reserva }}</td>
                          <td class="text-end">
                            <span class="dropdown">
                              <button class="btn dropdown-toggle align-text-top" data-bs-boundary="viewport" data-bs-toggle="dropdown" aria-expanded="false">Acciones</button>
                              <div class="dropdown-menu dropdown-menu-end" style="">
                                <a class="dropdown-item" href="{% url 'actualizar_reserva' reserva.pk %}"> Editar </a>
                                <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#confirmarEliminarModal" data-id="{{ reserva.pk }}" data-nombre="La reserva No. {{ reserva.pk }}" data-url="{% url 'eliminar_reserva' reserva.pk %}"> Eliminar </a>
                              </div>
                            </span>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
{% include 'componentes/paginacion.html' %}
{% include 'componentes/confirmar_eliminacion.html' %}
{% endblock reserva_listado %}