{% extends 'base.html' %}

{% block reserva_list %}
<div class="d-flex justify-content-between mb-4">
        <a href="{% url 'crear_reserva' %}" class="btn btn-primary">
            Nueva reserva
        </a>
</div>
{% if reservas %}
        <div class="row g-4">
            <ul class="list-group m-3">
                {% for reserva in reservas %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>
                        {{ reserva }}
                    </span>

                    <div class="d-flex gap-2 flex-shrink-0">

                        <a href="{% url 'actualizar_reserva' reserva.pk %}"
                        class="btn btn-warning">
                            Editar
                        </a>

                        <form method="post"
                            action="{% url 'eliminar_reserva' reserva.pk %}">
                            {% csrf_token %}

                            <button type="submit" class="btn btn-danger">
                                Eliminar
                            </button>
                        </form>

                    </div>

                </li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <p>
            No hay reservas.
        </p>
    {% endif %}
{% endblock reserva_list %}