<div class="modal fade" id="confirmarEliminarModal" tabindex="-1"
     aria-labelledby="modalLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">
                    Confirmar eliminación
                </h5>

                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Cerrar">
                </button>
            </div>

            <div class="modal-body">
                ¿Estás seguro de que deseas eliminar:
                <strong id="registro-eliminar"></strong>?
            </div>

            <div class="modal-footer">

                <button type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal">
                    Cancelar
                </button>

                <form id="formEliminar" method="post">
                    {% csrf_token %}

                    <button type="submit" class="btn btn-danger">
                        Sí, eliminar
                    </button>
                </form>

            </div>
        </div>
    </div>
</div>

<script>
    const modal = document.getElementById('confirmarEliminarModal');

modal.addEventListener('show.bs.modal', function (event) {

    const boton = event.relatedTarget;

    const nombre = boton.dataset.nombre;
    const url = boton.dataset.url;

    document.getElementById('registro-eliminar').textContent = `"${nombre}"`;

    document.getElementById('formEliminar').action = url;
});
</script>