<div class="modal fade" id="confirmarRestaurarModal" tabindex="-1"
     aria-labelledby="modalLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">
                    Confirmar Restauración
                </h5>

                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Cerrar">
                </button>
            </div>

            <div class="modal-body">
                ¿Estás seguro de que deseas restaurar el registro:
                <strong id="registro-restauracion"></strong>?
            </div>

            <div class="modal-footer">

                <button type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal">
                    Cancelar
                </button>

                <form id="formRestaurar" method="post">
                    {% csrf_token %}

                    <button type="submit" class="btn btn-success">
                        Sí, restaurar
                    </button>
                </form>

            </div>
        </div>
    </div>
</div>

<script>
    const modal_restaurar = document.getElementById('confirmarRestaurarModal');

    modal_restaurar.addEventListener('show.bs.modal', function (event) {

        // boton es un <a>
        const boton = event.relatedTarget;

        const nombre = boton.dataset.nombre;
        const url = boton.dataset.url;
        // Mostrar nombre
        console.log(nombre)
        document.getElementById('registro-restauracion').textContent = `"${nombre}"`;

        // Cambiar action del formulario
        document.getElementById('formRestaurar').action = url;
    });
</script>