{% extends 'nuevos/index.html' %}
{% block coordinador_creacion %}
<div class="col">
                <div class="row row-cards">
                  <div class="col-12 col-lg-7">
                    <div class="card">
                      <div class="card-header">
                        <h3 class="card-title">Información del coordinador</h3>
                      </div>
                      <div class="card-body">
                        <form method="post" class="space-y">
                            {% csrf_token %}
                            <div class="col">
                                <label class="form-label"> Nombre </label>
                              {{ form.nombre }}
                            </div>
                            <div class="col">
                                <label class="form-label"> Apellido </label>
                              {{ form.apellido }}
                            </div>
                            <div class="col">
                                <label class="form-label"> Numero de documento </label>
                              {{ form.numero_documento }}
                            </div>
                          <div class="text-end">
                              <a href="{% url 'lista_coordinadores' %}" class="btn btn-1"> Cancelar </a>
                              <button type="submit" class="btn btn-primary btn-2"> Guardar cambios </button>
                            </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
{% endblock coordinador_creacion %}