<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Tabler demo</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.4.0/dist/css/tabler.min.css" />

</head>

<body>
  <div class="page">
    <div class="page-wrapper">

      {% include 'nuevos/navbar.html' %}
      <div class="page-body">
        <div class="container-xl">
          <div class="row row-deck row-cards">
            {% block metricas_home %}{% endblock %}
            {% block cliente_listado %}{% endblock %}
            {% block cliente_detalle %}{% endblock %}
            {% block cliente_creacion %}{% endblock %}
            {% block servicio_listado %}{% endblock %}
            {% block servicio_detalle %}{% endblock %}
            {% block servicio_creacion %}{% endblock %}
            {% block empleado_listado %}{% endblock %}
            {% block empleado_detalle %}{% endblock %}
            {% block empleado_creacion %}{% endblock %}
            {% block coordinador_listado %}{% endblock %}
            {% block coordinador_detalle %}{% endblock %}
            {% block coordinador_creacion %}{% endblock %}
          </div>
        </div>
      </div>
      {% include 'nuevos/footer.html' %}
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.4.0/dist/js/tabler.min.js"></script>
</body>

</html>